/* Styl dla całego ciała dokumentu */
body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #282c34; /* Ciemnoszare tło */
    color: #ffffff; /* Biały tekst */
}

/* Styl nagłówka */
header {
    background-color: #61dafb; /* Jasnoniebieskie tło */
    padding: 20px;
    text-align: center; /* Wyśrodkowanie tekstu */
}

/* Styl dla głównego tytułu */
h1 {
    font-size: 3em; /* Większy rozmiar czcionki */
    margin: 0;
}

/* Styl dla podtytułu */
h2 {
    font-size: 1.8em; /* Mniejszy rozmiar czcionki */
    margin: 10px 0; /* Odstęp */
}

/* Styl dla sekcji głównej */
main {
    padding: 20px;
    max-width: 800px; /* Maksymalna szerokość treści */
    margin: auto; /* Wyśrodkowanie treści */
}

/* Styl dla nagłówków H3 */
h3 {
    font-size: 1.5em; /* Średni rozmiar czcionki */
    margin-top: 20px; /* Odstęp od góry */
    border-bottom: 2px solid #61dafb; /* Dolna linia */
}

/* Styl dla akapitów */
p {
    line-height: 1.6; /* Wysokość linii */
    margin: 10px 0; /* Odstęp między akapitami */
}

/* Styl dla list */
ul {
    list-style-type: square; /* Kwadratowe punkty listy */
    padding-left: 20px; /* Wcięcie */
}

/* Styl dla linków */
a {
    color: #61dafb; /* Kolor linków */
    text-decoration: none; /* Bez podkreślenia */
}

a:hover {
    text-decoration: underline; /* Podkreślenie po najechaniu */
}

/* Styl stopki */
footer {
    background-color: #61dafb; /* Jasnoniebieskie tło */
    color: #282c34; /* Ciemnoszary tekst */
    text-align: center; /* Wyśrodkowanie tekstu */
    padding: 10px;
    position: fixed;
    bottom: 0; /* Przyklejenie do dolnej części okna */
    width: 100%; /* Szerokość na całą stronę */
}
